@model PortalSocios.Models.Socios

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Eliminar Sócio | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <div class="titulo"><h3>ELIMINAR SÓCIO</h3></div>
    <div class="titulo"><h4>Tem a certeza de que pretende eliminar este sócio?</h4></div>
    <div class="titulo"><h5>@Html.ActionLink("- Voltar à lista -", "Index")</h5></div>
    <hr />

    <div class="container painel2">
        @Html.ValidationSummary(true, "")

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.NumSocio)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.NumSocio)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Nome)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Nome)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.BI)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.BI)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.NIF)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.NIF)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.DataNasc)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.DataNasc)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Email)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Email)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Telemovel)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Telemovel)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Morada)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Morada)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.CodPostal)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.CodPostal)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Fotografia)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Fotografia)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.DataInscr)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.DataInscr)</div>

        <div class="col-lg-6 dadosEsq">Categoria</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Categoria.Nome)</div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="col-lg-12 form-actions no-color divBtnCentro">
            <input type="submit" value="Sim" class="btn btn-primary" />            
        </div>
    }
</body>
</html>

