@model IEnumerable<PortalSocios.Models.Socios>

@{
    ViewBag.Title = "Index";
}

<h3>Lista de Sócios</h3>

<p>
    @Html.ActionLink("Criar novo sócio", "Create")
</p>
<div style="overflow-x: auto;">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumSocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNasc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotografia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInscr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.Nome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumSocio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNasc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telemovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Morada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodPostal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fotografia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInscr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.SocioID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.SocioID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.SocioID })
                </td>
            </tr>
        }

    </table>
</div>

