@model IEnumerable<PortalSocios.Models.Socios>

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Lista de Sócios | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <!-- título -->
    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")) {
        <div class="titulo"><h3>LISTA DE SÓCIOS</h3></div>
    }
    @if (User.IsInRole("Socio")) {
        <div class="titulo"><h3>DADOS PESSOAIS</h3></div>
    }

    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")) {
        <!-- criar novo sócio -->
        <div class="col-md-12 divBtnCentro">
            <input type="button" class="btn btn-primary" value="Criar Novo Sócio" onclick="location.href='@Url.Action("Create", "Socios")'" />
        </div>
    }
    
    <hr />

    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")) {
        <!-- interface de pesquisa -->
        using (Html.BeginForm()) {
            <p class="interfPesq">
                @Html.TextBox("pesquisar", "", new { @class = "form-control pesq", @maxlength = "30", @placeholder = "Pesquisa por nome" })
                <input type="submit" class="btn btn-primary" value="Pesquisar" />
            </p>
        }
    }

    <!-- nota -->
    <div class="nota">** Só estão apresentados os dados mais relevantes. Os restantes podem ser consultados nos detalhes. **</div>

    <div class="centrarTab">
        <div class="displayTab">
            <!-- tabela de sócios -->
            <table class="table">
                <!-- cabeçalhos -->
                <tr>
                    <th class="colCentro">@Html.ActionLink("N.º Sócio", "Index", new { ordenar = ViewBag.OrdNum })</th>
                    <th class="colCentro">@Html.ActionLink("Nome", "Index", new { ordenar = ViewBag.OrdNome })</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.NIF)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.Email)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.Telemovel)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.DataInscr)</th>
                    <th class="colCentro">@Html.ActionLink("Categoria", "Index", new { ordenar = ViewBag.OrdCateg })</th>
                    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")) {
                        <th class="colCentro">Opções de Gestão</th>
                    }
                    @if (User.IsInRole("Socio")) {
                        <th class="colCentro">Opções de Consulta</th>
                    }
                </tr>
                <!-- dados dos sócios -->
                @foreach (var item in Model) {
                    <tr>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.NumSocio)</td>
                        <td class="colEsq">@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.NIF)</td>
                        <td class="colEsq">@Html.DisplayFor(modelItem => item.Email)</td>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.Telemovel)</td>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.DataInscr)</td>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.Categoria.Nome)</td>
                        @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")) {
                            <!-- opções de gestão -->
                            <td class="colCentro">
                                @Html.ActionLink("Editar", "Edit", new { id = item.SocioID }) |
                                @Html.ActionLink("Detalhes", "Details", new { id = item.SocioID }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.SocioID })
                            </td>
                        }
                        @if (User.IsInRole("Socio")) {
                            <td class="colCentro">
                                @Html.ActionLink("Editar", "Edit", new { id = item.SocioID }) |
                                @Html.ActionLink("Detalhes", "Details", new { id = item.SocioID })
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>   
</body>
</html>

