@model PortalSocios.Models.RoleViewModel

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Editar Função | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</head>
<body>
    <div class="titulo"><h3>EDITAR FUNÇÃO</h3></div>
    <div class="titulo"><h5>@Html.ActionLink("- Voltar à lista -", "Index")</h5></div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-horizontal painel2">
            @Html.ValidationSummary(true, "")
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.Label("Função", new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
        </div>
        <div class="col-md-12 divBtnCentro">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    }
</body>
</html>
