@model PortalSocios.Models.Beneficios

@{
    ViewBag.Title = "Details";
}

<h3>Detalhes do Benefício</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntidRespons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntidRespons)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar à lista", "Index") |
    @Html.ActionLink("Editar", "Edit", new { id = Model.BeneficioID })    
</p>
