@model PortalSocios.Models.Beneficios

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Detalhes do Benefício | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <div class="titulo"><h3>DETALHES DO BENEFÍCIO</h3></div>
    <div class="titulo"><h5>@Html.ActionLink("- Voltar à lista -", "Index")</h5></div>
    <hr />

    <div class="container painel2">
        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Descricao)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Descricao)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.EntidRespons)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.EntidRespons)</div>
    </div>
</body>
</html>
