@model IEnumerable<PortalSocios.Models.Beneficios>

@{
    ViewBag.Title = "Index";
}

<h3>Lista de Benefícios</h3>

<p>
    @Html.ActionLink("Criar novo benefício", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntidRespons)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntidRespons)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.BeneficioID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.BeneficioID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.BeneficioID })
        </td>
    </tr>
}

</table>
