@model IEnumerable<PortalSocios.Models.Beneficios>

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Lista de Benefícios | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <!-- título -->
    <div class="titulo"><h3>LISTA DE BENEFÍCIOS</h3></div>

    <!-- criar novo sócio -->
    <div class="col-md-12 divBtnCentro">
        <input type="button" class="btn btn-primary" value="Criar Novo Benefício" onclick="location.href='@Url.Action("Create", "Beneficios")'" />
    </div>
    <hr />

    <!-- interface de pesquisa -->
    @using (Html.BeginForm()) {
        <p class="interfPesq">
            @Html.TextBox("pesquisar", "", new { @class = "form-control pesq", @maxlength = "30", @placeholder = "Pesquisa por descrição" })
            <input type="submit" class="btn btn-primary" value="Pesquisar" />
        </p>
    }


    <div class="centrarTab">
        <div class="displayTab">
            <!-- tabela de benefícios -->
            <table class="table">
                <!-- cabeçalhos -->
                <tr>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.Descricao)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.EntidRespons)</th>
                    <th class="colCentro">Opções de Gestão</th>
                </tr>
                <!-- dados dos benefícios -->
                @foreach (var item in Model) {
                    <tr>
                        <td class="colEsq">@Html.DisplayFor(modelItem => item.Descricao)</td>
                        <td class="colEsq">@Html.DisplayFor(modelItem => item.EntidRespons)</td>
                        <!-- opções de gestão -->
                        <td class="colCentro">
                            @Html.ActionLink("Editar", "Edit", new { id = item.BeneficioID }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.BeneficioID }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.BeneficioID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
