@model PortalSocios.Models.Categorias

@{
    ViewBag.Title = "Delete";
}

<h3>Eliminar Categoria</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaixaEtaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaixaEtaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumQuotasAnuais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumQuotasAnuais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMensal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMensal)
        </dd>

    </dl>

    <h4>Tem a certeza de que pretende eliminar esta categoria?</h4>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Voltar à lista", "Index") |
            <input type="submit" value="Sim" class="btn btn-success" />            
        </div>
    }
</div>
