@model PortalSocios.Models.Categorias

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Detalhes da Categoria | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <div class="titulo"><h3>DETALHES DA CATEGORIA</h3></div>
    <div class="titulo"><h5>@Html.ActionLink("- Voltar à lista -", "Index")</h5></div>
    <hr />

    <div class="container painel2">
        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Nome)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Nome)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.FaixaEtaria)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.FaixaEtaria)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.NumQuotasAnuais)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.NumQuotasAnuais)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.ValorMensal)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.ValorMensal) €</div>
    </div>
</body>
</html>
