@model IEnumerable<PortalSocios.Models.Categorias>

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Lista de Categorias | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <!-- título -->
    <div class="titulo"><h3>LISTA DE CATEGORIAS</h3></div>

    <!-- criar nova categoria -->
    <div class="col-md-12 divBtnCentro">
        <input type="button" class="btn btn-primary" value="Criar Nova Categoria" onclick="location.href='@Url.Action("Create", "Categorias")'" />
    </div>
    <hr />

    <!-- interface de pesquisa -->
    @using (Html.BeginForm()) {
        <p class="interfPesq">
            @Html.TextBox("pesquisar", "", new { @class = "form-control pesq", @maxlength = "30", @placeholder = "Pesquisa por nome" })
            <input type="submit" class="btn btn-primary" value="Pesquisar" />
        </p>
    }

    <div class="centrarTab">
        <div class="displayTab">
            <!-- tabela de categorias -->
            <table class="table">
                <!-- cabeçalhos -->
                <tr>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.Nome)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.FaixaEtaria)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.NumQuotasAnuais)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.ValorMensal)</th>
                    <th class="colCentro">Opções de Gestão</th>
                </tr>
                <!-- dados das categorias -->
                @foreach (var item in Model) {
                    <tr>
                        <td class="colEsq">@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td class="colEsq">@Html.DisplayFor(modelItem => item.FaixaEtaria)</td>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.NumQuotasAnuais)</td>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.ValorMensal) €</td>
                        <!-- opções de gestão -->
                        <td class="colCentro">
                            @Html.ActionLink("Editar", "Edit", new { id = item.CategoriaID }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.CategoriaID }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.CategoriaID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
