@model PortalSocios.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceste-te da tua palavra-passe?";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group form-inline">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
            <input type="submit" class="btn btn-success" value="Enviar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
