@model PortalSocios.Models.LoginViewModel

<title> Entrar | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>

<div class="titulo"><h3>Entrar</h3></div>
<hr />
<div class="row painel">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "")

                if (ViewBag.Mensagem != null) {
                    <div class="titulo col-md-12 msgSucesso">@ViewBag.Mensagem</div>
                }

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control entrada", @placeholder = "E-mail" })
                        @Html.ValidationMessageFor(m => m.Email, "")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control entrada", @placeholder = "Palavra-passe" })
                        @Html.ValidationMessageFor(m => m.Password, "")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Entrar" class="btn btn-primary" />
                    </div>
                </div>
                <p class="col-md-12">
                    Não tens uma conta? @Html.ActionLink("Regista-te e torna-te sócio!", "Register")
                </p>
                <p class="col-md-12">
                    @Html.ActionLink("Esqueceste-te da tua palavra-passe?", "Indisponivel", "Erros")
                </p>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}