@model PortalSocios.Models.Pagamentos

@{
    ViewBag.Title = "Delete";
}

<h3>Eliminar Pagamento</h3>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Socio.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Socio.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefMultibanco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefMultibanco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Montante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Montante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPagam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPagam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPrevPagam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPrevPagam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Multa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quota.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quota.Referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>

    </dl>

    <h4>Tem a certeza de que pretende eliminar este pagamento?</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">            
            @Html.ActionLink("Voltar à lista", "Index") |
            <input type="submit" value="Sim" class="btn btn-success" />
        </div>
    }
</div>
