@model PortalSocios.Models.Pagamentos

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Detalhes do Pagamento | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <div class="titulo"><h3>DETALHES DO PAGAMENTO</h3></div>
    <div class="titulo"><h5>@Html.ActionLink("- Voltar à lista -", "Index")</h5></div>
    <hr />

    <div class="container painel">
        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Socio.Nome)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Socio.Nome)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.RefMultibanco)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.RefMultibanco)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Montante)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Montante)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.DataPagam)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.DataPagam)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.DataPrevPagam)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.DataPrevPagam)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Multa)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Multa)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Quota.Referencia)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Quota.Referencia)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.UserName)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.UserName)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Funcionario.Nome)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Funcionario.Nome)</div>
    </div>
</body>
</html>
