@model IEnumerable<PortalSocios.Models.Pagamentos>

@{
    ViewBag.Title = "Index";
}

<h3>Lista de Pagamentos</h3>

<p>
    @Html.ActionLink("Criar novo pagamento", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Sócio")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefMultibanco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Montante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPagam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPrevPagam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Multa)
        </th>
        <th>
            Ref. Quota
        </th>
        <th>
            Funcionário
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Socio.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefMultibanco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Montante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPagam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPrevPagam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Multa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quota.Referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PagamentoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.PagamentoID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.PagamentoID })
        </td>
    </tr>
}

</table>
