@model IEnumerable<PortalSocios.Models.Pagamentos>

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Lista de Pagamentos | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <!-- título -->
    <div class="titulo"><h3>LISTA DE PAGAMENTOS</h3></div>

    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")) {
    <!-- criar novo pagamento -->
        <div class="col-md-12 divBtnCentro">
            <input type="button" class="btn btn-primary" value="Criar Novo Pagamento" onclick="location.href='@Url.Action("Create", "Pagamentos")'" />
        </div>
    }
    
    <hr />

    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")) {
    <!-- interface de pesquisa -->
        using (Html.BeginForm()) {
            <p class="interfPesq">
                @Html.TextBox("pesquisar", "", new { @class = "form-control pesq", @maxlength = "9", @placeholder = "Pesquisa por referência" })
                <input type="submit" class="btn btn-primary" value="Pesquisar" />
            </p>
        }
    }

    <!-- nota -->
    <div class="nota">** Só estão apresentados os dados mais relevantes. Os restantes podem ser consultados nos detalhes. **</div>

    <div class="centrarTab">
        <div class="displayTab">
            <!-- tabela de pagamentos -->
            <table class="table">
                <!-- cabeçalhos -->
                <tr>
                    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")) {
                        <th class="colCentro">Sócio</th>                        
                    }
                    <th class="colCentro">@Html.DisplayNameFor(model => model.Quota)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.RefMultibanco)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.Montante)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.DataPagam)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.DataPrevPagam)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.Multa)</th>                    
                    @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")) {
                        <th class="colCentro">Opções de Gestão</th>
                    }
                    @if (User.IsInRole("Socio")) {
                        <th class="colCentro">Opções de Consulta</th>
                    }
                </tr>
                <!-- dados dos pagamentos -->
                @foreach (var item in Model) {
                    <tr>
                        @if (User.IsInRole("Administrador") || User.IsInRole("Funcionario")) {
                            <td class="colEsq">@Html.DisplayFor(modelItem => item.Socio.Nome)</td>
                        }
                        <td class="colEsq">@Html.DisplayFor(modelItem => item.Quota.Referencia)</td>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.RefMultibanco)</td>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.Montante) €</td>
                        @if (item.DataPagam == null) {
                            <td class="colCentro">-</td>
                        }
                        else {
                            <td class="colCentro">@Html.DisplayFor(modelItem => item.DataPagam)</td>
                        }
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.DataPrevPagam)</td>
                        @if (item.Multa == null) {
                            <td class="colCentro">-</td>
                        }
                        else {
                            <td class="colCentro">@Html.DisplayFor(modelItem => item.Multa) €</td>
                        }
                        <!-- opções de gestão -->
                        @if (User.IsInRole("Administrador")) {
                            <td class="colCentro">
                                @Html.ActionLink("Editar", "Edit", new { id = item.PagamentoID }) |
                                @Html.ActionLink("Detalhes", "Details", new { id = item.PagamentoID }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.PagamentoID })
                            </td>
                        }
                        @if (User.IsInRole("Funcionario")) {
                            <td class="colCentro">
                                @Html.ActionLink("Editar", "Edit", new { id = item.PagamentoID }) |
                                @Html.ActionLink("Detalhes", "Details", new { id = item.PagamentoID })
                            </td>
                        }
                        @if (User.IsInRole("Socio")) {
                            <td class="colCentro">
                                @Html.ActionLink("Detalhes", "Details", new { id = item.PagamentoID })
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
