@model PortalSocios.Models.EditUserViewModel

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Editar Utilizador | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</head>
<body>
    <div class="titulo"><h3>EDITAR UTILIZADOR</h3></div>
    <div class="titulo"><h5>@Html.ActionLink("- Voltar à lista -", "Index")</h5></div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-horizontal panel2">
            @Html.ValidationSummary(true, "")
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Funções", new { @class = "control-label col-md-4" })
                <span class=" col-md-8">
                    @foreach (var item in Model.RolesList) {
                        <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                        @Html.Label(item.Value, new { @class = "control-label" })
                    }
                </span>
            </div>
        </div>
        <div class="col-md-12" style="text-align:center; margin-top: 20px;">
            <input type="submit" value="Guardar" class="btn btn-primary" style="font-size: 16px; margin-right: 10px;" />
        </div>
    }
</body>
</html>
