@model IEnumerable<PortalSocios.Models.Funcionarios>

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Lista de Funcionários | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <!-- título -->
    <div class="titulo"><h3>LISTA DE FUNCIONÁRIOS</h3></div>

    <!-- criar novo funcionário -->
    <div class="col-md-12" style="text-align:center; margin-top: 20px;">
        <input type="button" class="btn btn-primary" value="Criar Novo Funcionário" onclick="location.href='@Url.Action("Create", "Funcionarios")'" style="font-size: 16px;" />
    </div>
    <hr />

    <!-- interface de pesquisa -->
    @using (Html.BeginForm()) {
        <p style="text-align: center;">
            @Html.TextBox("pesquisar", "", new { @class = "form-control", @maxlength = "30", @placeholder = "Pesquisa por nome", @style = "display: inline; width: 200px" })
            <input type="submit" class="btn btn-primary" value="Pesquisar" />
        </p>
    }

    <div style="text-align:center;">
        <div style="display: inline-block;">
            <!-- tabela de funcionários -->
            <table class="table">
                <!-- cabeçalhos -->
                <tr>
                    <th class="colCentro">@Html.ActionLink("Nome", "Index", new { ordenar = ViewBag.OrdNome })</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.NIF)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.Email)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.Telemovel)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.Morada)</th>
                    <th class="colCentro">@Html.DisplayNameFor(model => model.CodPostal)</th>
                    <th class="colCentro">@Html.ActionLink("Data de Entrada", "Index", new { ordenar = ViewBag.OrdEntr })</th>
                    <th class="colCentro">Opções de Gestão</th>
                </tr>
                <!-- dados dos funcionários -->
                @foreach (var item in Model) {
                    <tr>
                        <td class="colEsq">@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.NIF)</td>
                        <td class="colEsq">@Html.DisplayFor(modelItem => item.Email)</td>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.Telemovel)</td>
                        <td class="colEsq">@Html.DisplayFor(modelItem => item.Morada)</td>
                        <td class="colEsq">@Html.DisplayFor(modelItem => item.CodPostal)</td>
                        <td class="colCentro">@Html.DisplayFor(modelItem => item.DataEntrClube)</td>
                        <!-- opções de gestão -->
                        <td class="colCentro">
                            @Html.ActionLink("Editar", "Edit", new { id = item.FuncionarioID }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.FuncionarioID }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.FuncionarioID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
