@model IEnumerable<PortalSocios.Models.Funcionarios>

@{
    ViewBag.Title = "Index";
}

<h3>Lista de Funcionários</h3>

<p>
    @Html.ActionLink("Criar Novo Funcionário", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telemovel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntrClube)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telemovel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntrClube)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FuncionarioID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.FuncionarioID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.FuncionarioID })
        </td>
    </tr>
}

</table>
