@model PortalSocios.Models.Quotas

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Detalhes da Quota | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <div class="titulo"><h3>DETALHES DA QUOTA</h3></div>
    <div class="titulo"><h5>@Html.ActionLink("- Voltar à lista -", "Index")</h5></div>
    <hr />

    <div class="container painel2">
        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Referencia)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Referencia)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Montante)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Montante) €</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Ano)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Ano)</div>

        <div class="col-lg-6 dadosEsq">@Html.DisplayNameFor(model => model.Periodicidade)</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Periodicidade)</div>

        <div class="col-lg-6 dadosEsq">Categoria</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Categoria.Nome)</div>
    </div>
</body>
</html>
