@model PortalSocios.Models.Quotas

@{
    ViewBag.Title = "Details";
}

<h3>Detalhes da Quota</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Montante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Montante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodicidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodicidade)
        </dd>

    </dl>
</div>
<p>    
    @Html.ActionLink("Voltar à lista", "Index") |
    @Html.ActionLink("Editar", "Edit", new { id = Model.QuotaID })
</p>
